# KODIAQ

In [18]:
# imports
import pandas
import numpy as np

from matplotlib import pyplot as plt

from astropy.table import Table
from astropy.coordinates import SkyCoord, match_coordinates_sky
from astropy import units

from specdb import specdb

# Load KOA

In [2]:
all_qsos = pandas.read_fwf('qso_results.txt')

In [3]:
all_qsos['total'] = all_qsos['nires'] + all_qsos['mosfire'] + all_qsos['nirspec'] + all_qsos['esi'] + all_qsos['deimos'] + all_qsos['hires']

In [10]:
qsos = Table.read('qso_rsg4p5_v2.0_all_20200609.fits')

# Load KODIAQ

In [5]:
igmspec = specdb.IgmSpec()

Loading igmspec from /data/spec_DB/IGMspec_DB_v03.1.hdf5

/data/Projects/Python/specdb/specdb/query_catalog.py:69: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  self.cat = Table(hdf['catalog'].value)

Database is igmspec
Created on 2019-Mar-06
Version: v03.1

In [6]:
igmspec.groups

['BOSS_DR14',
 'SQUAD_DR1',
 'ESI_z6',
 'KODIAQ_DR2',
 'SDSS_DR7',
 'KODIAQ_DR1',
 'HD-LLS_DR1',
 'GGG',
 'HST_z2',
 'XQ-100',
 'HDLA100',
 '2QZ',
 'ESI_DLA',
 'COS-Halos',
 'COS-Dwarfs',
 'HSTQSO',
 'MUSoDLA',
 'UVES_Dall',
 'UVpSM4']

# Coords

## KOA

In [16]:
subset = all_qsos['total'] > 0
sub_koa = qsos[subset.values]
len(sub_koa)

194

In [19]:
koa_coord = SkyCoord(ra=sub_koa['RA'], dec=sub_koa['DEC'], frame='icrs', unit=(units.hourangle, units.deg))

## KODIAQ1

In [24]:
kodiaq1 = igmspec['KODIAQ_DR1'].meta
kodiaq1[0:3]

<Table length=3>
zem_GROUP kodetime kodwblue kodwred ... INSTR TELESCOPE DISPERSER
 float64   int64    int64    int64  ...  str5    str6      str4
--------- -------- -------- ------- ... ----- --------- ---------
    2.350     1200     3334    6198 ... HIRES    Keck-I      BLUE
    2.596      700     3366    6198 ... HIRES    Keck-I      BLUE
    2.400      600     3366    6198 ... HIRES    Keck-I      BLUE

In [25]:
kodiaq1_coord = SkyCoord(ra=kodiaq1['RA_GROUP'], dec=kodiaq1['DEC_GROUP'], unit='deg')

## KODIAQ2

In [26]:
kodiaq2 = igmspec['KODIAQ_DR2'].meta
kodiaq2[0:3]

/data/Projects/Python/specdb/specdb/interface_group.py:70: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  self.meta = spdbu.hdf_decode(self.hdf[group+'/meta'].value, itype='Table')

<Table length=3>
zem_GROUP kodetime kodwblue ...          SPEC_FILE          DISPERSER
 float64   int64    int64   ...            str27               str4
--------- -------- -------- ... --------------------------- ---------
    2.810    25000     4111 ...       J000150-015940_f.fits       RED
    1.887     8000     3307 ...       J000520+052410_f.fits      BLUE
    1.887     8000     3340 ... J000520+052410_spec2_f.fits      BLUE

In [27]:
kodiaq2_coord = SkyCoord(ra=kodiaq2['RA_GROUP'], dec=kodiaq2['DEC_GROUP'], unit='deg')

## KODIAQ3

In [31]:
kodiaq3 = Table.read('DR3_summary.txt', format='ascii')

In [32]:
kodiaq3[0:3]

<Table length=3>
Index      Name            RA           DEC      ...   flag    s2n     s2nB
int64     str14          str13         str13     ... float64 float64 float64
----- -------------- ------------- ------------- ... ------- ------- -------
    1 J000211-052908 00:02:11.7696 -05:29:08.484 ...    -1.0  24.741  34.043
    2 J000216-053007  00:02:16.668 -05:30:07.632 ...    -1.0  25.504  31.442
    3 J000221+002149 00:02:21.1176 +00:21:49.356 ...    -1.0  14.029  18.327

In [33]:
kodiaq3_coord = SkyCoord(ra=kodiaq3['RA'], dec=kodiaq3['DEC'], frame='icrs', unit=(units.hourangle, units.deg))

# Match me!

In [35]:
for kk, kodiaq_coord in enumerate([kodiaq1_coord, kodiaq2_coord, kodiaq3_coord]):
    # Match
    idx, d2d, _ = match_coordinates_sky(koa_coord, kodiaq_coord, nthneighbor=1)
    # Close
    match = d2d < 2*units.arcsec
    # Answer
    print("KODIAQ{} has {} matches".format(kk+1, np.sum(match)))

KODIAQ1 has 4 matches
KODIAQ2 has 3 matches
KODIAQ3 has 108 matches

## Explore KODIAQ3

In [36]:
idx3, d2d3, _ = match_coordinates_sky(koa_coord, kodiaq3_coord, nthneighbor=1)

In [37]:
match3 = d2d3 < 2 * units.arcsec

In [42]:
kodiaq3[idx3[match3]]['z'].data

array([6.438   , 6.4189  , 6.427   , 6.311   , 6.247   , 6.25    ,
       6.2284  , 6.13    , 6.13    , 6.118   , 6.12    , 6.117   ,
       6.07    , 6.065   , 6.049   , 6.04    , 6.0379  , 6.016   ,
       6.01    , 6.02    , 6.13    , 5.98    , 5.9012  , 5.927   ,
       5.85    , 5.82    , 5.8441  , 5.7824  , 5.7722  , 5.72    ,
       5.62    , 5.41353 , 5.3383  , 5.33    , 5.31312 , 5.305602,
       5.31775 , 5.290043, 5.273   , 5.2924  , 5.20557 , 5.167925,
       5.214469, 5.1877  , 5.14174 , 5.16359 , 5.13512 , 5.27264 ,
       5.092134, 5.10933 , 5.068   , 5.1195  , 5.10693 , 5.0589  ,
       5.07091 , 5.051909, 4.99    , 5.02249 , 5.005901, 4.976896,
       4.95    , 4.92177 , 4.9     , 4.92302 , 4.918688, 4.908   ,
       4.91233 , 4.897   , 4.996   , 4.897885, 4.881   , 4.88142 ,
       4.85927 , 4.79034 , 4.935   , 4.87299 , 4.88504 , 4.81    ,
       4.904886, 4.78947 , 4.846415, 4.795   , 4.784268, 4.772255,
       4.79807 , 4.754505, 4.70677 , 4.70859 , 4.707273, 4.77497 ,
       4.715   , 4.68778 , 4.703384, 4.673994, 4.65872 , 4.672   ,
       4.69453 , 4.61919 , 4.615936, 4.545   , 4.579   , 4.538072,
       4.558   , 4.57    , 4.532   , 4.52    , 4.52    , 4.52041 ])

In [43]:
m3_z4 = kodiaq3[idx3[match3]]['z'].data > 4
np.sum(m3_z4)

108